package {{package}};

{{#imports}}import {{import}};
{{/imports}}
import java.util.function.Consumer;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import io.vertx.ext.web.openapi.RouterFactory;
import io.vertx.ext.web.validation.RequestParameter;
import io.vertx.ext.web.validation.ValidationHandler;

{{#vendorExtensions.x-codegen-parent-import}}import {{{vendorExtensions.x-codegen-parent-import}}}{{/vendorExtensions.x-codegen-parent-import}}
{{vendorExtensions.x-codegen-http-method-upper-case}}
public class {{classname}}Impl {{#vendorExtensions.x-codegen-parent-class}}extends {{{vendorExtensions.x-codegen-parent-class}}}{{/vendorExtensions.x-codegen-parent-class}} implements {{classname}}{

    public static final Logger LOG = LoggerFactory.getLogger({{classname}}Impl.class);
    
    public {{classname}}Impl(){
      super();
    }
    
    @Override
    public Consumer<RouterFactory> mountOperationHandler() {
      return routerFactory -> { 
        {{#operations}}
        {{#operation}}
        routerFactory.operation("{{operationId}}")
          .handler({{classname}}Impl.this::handle{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}})
          .failureHandler({{classname}}Impl.this::handleFailed{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}});
        {{/operation}}
        {{/operations}}
      };  
    }

    {{#operations}}
    {{#operation}}
    {{#isDeprecated}}@Deprecated{{/isDeprecated}}
    @Override
    public void handle{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}(RoutingContext pRoutingContext){
      LOG.info("{{operationId}}({})", "{{httpMethod}}");
      {{#hasParams}}
      RequestParameters params = pRoutingContext.get(ValidationHandler.REQUEST_CONTEXT_KEY);
      {{#hasCookiesParams}}{{#cookieParams}}@Nullable RequestParameter p{{paramName}} = params.cookieParameter("{{paramName}}");
      if ({{paramName}} != null){
        
      }{{/cookieParams}}{{/hasCookiesParams}}
      {{#hasHeaderParams}}{{#headerParams}}@Nullable RequestParameter {{paramName}} = params.headerParameter("{{paramName}}");
      if ({{paramName}} != null){
        
      }{{/headerParams}}{{/hasHeaderParams}}
      
      {{#hasQueryParams}}{{#queryParams}}@Nullable RequestParameter {{paramName}} = params.queryParameter("{{paramName}}");
      if ({{paramName}} != null){
        
      }{{/queryParams}}{{/hasQueryParams}}
      {{#hasFormParams}}{{#formParams}}@Nullable RequestParameter {{paramName}} = params.pathParameter("{{paramName}}");
      if ({{paramName}} != null){
      
      }{{/formParams}}{{/hasFormParams}}
      {{#hasBodyParam}}{{#bodyParams}}RequestParameter {{{paramName}}} = params.body();{{/bodyParams}}{{/hasBodyParam}}
      {{/hasParams}}
      
    }

    {{#isDeprecated}}@Deprecated{{/isDeprecated}}
    @Override
    public void handleFailed{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}(RoutingContext pRoutingContext){
      LOG.info("{{operationId}}({})", "{{httpMethod}}");
      {{#hasParams}}
      RequestParameters params = pRoutingContext.get(ValidationHandler.REQUEST_CONTEXT_KEY);
      {{#hasCookiesParams}}{{#cookieParams}}@Nullable RequestParameter p{{paramName}} = params.cookieParameter("{{paramName}}");
      if ({{paramName}} != null){
        
      }{{/cookieParams}}{{/hasCookiesParams}}
      {{#hasHeaderParams}}{{#headerParams}}@Nullable RequestParameter {{paramName}} = params.headerParameter("{{paramName}}");
      if ({{paramName}} != null){
        
      }{{/headerParams}}{{/hasHeaderParams}}
      
      {{#hasQueryParams}}{{#queryParams}}@Nullable RequestParameter {{paramName}} = params.queryParameter("{{paramName}}");
      if ({{paramName}} != null){
        
      }{{/queryParams}}{{/hasQueryParams}}
      {{#hasFormParams}}{{#formParams}}@Nullable RequestParameter {{paramName}} = params.pathParameter("{{paramName}}");
      if ({{paramName}} != null){
      
      }{{/formParams}}{{/hasFormParams}}
      {{#hasBodyParam}}{{#bodyParams}}RequestParameter {{{paramName}}} = params.body();{{/bodyParams}}{{/hasBodyParam}}
      {{/hasParams}}
      
    }
    {{/operation}}
    {{/operations}}
    

}
