{{>licenseInfo}}
package {{package}};

{{#imports}}
import {{import}};
{{/imports}}
{{#lambdaRemoveLineBreak}}{{#serializableModel}}import java.io.Serializable;{{/serializableModel}}{{/lambdaRemoveLineBreak}}
{{#models}}
{{#model}}
{{#description}}
 /**
 * {{description}}
 **/
{{/description}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{#oneOf}}{{#-first}}{{>oneof_interface}}{{/-first}}{{/oneOf}}{{^oneOf}}{{#anyOf}}{{#-first}}{{>anyof_model}}{{/-first}}{{/anyOf}}{{^anyOf}}{{>pojo}}{{/anyOf}}{{/oneOf}}{{/isEnum}}
{{/model}}
{{/models}}
